body {
  background-color: #FAF7F7;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #9348A3;
  padding-top: 60px;


}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 30px;

}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 24px;

}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
text-decoration: underline;
text-align: center;
}

a {
  color: #6642B5;
}

.nav-a {
  color: white;
}

a:visited {
  color: white; /* visited link */
}

a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  color: #6642B5; /* selected link */
}


.button {
  padding: 10px 18px;
  font-size: 14px;
  color: white;
  background-color: #9348A3;
  text-decoration: none;
  border-radius: 6px;
  font-family: Helvetica, sans-serif;
  float: right;
}


.button:hover,
.button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}

/* Layout styling */



.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0;
}

.Introduction {
  border-style: hidden;
  padding: 100px;
  margin: 0 auto;
  top: 0;
  width: 1000%;
  letter-spacing: inherit;
}

.Content1 {
  border-style: hidden;
  padding: 100px;
  margin: 0;
  top: 0;
  width: 100%;
  letter-spacing: inherit;
  margin-right: 50px;
  margin-left: 50px;
  text-align: left;

}

#selfpic {
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 5px;
    max-width: 400px;
}

.columns-container {
  font-size: 0;
}

.column-4 {
  font-size: 16px;
  width: 23%;
  display: inline-block;
  margin-right: 1%;
  text-align: center;
}

.column-4:last-child {
margin-right: 0;
}


.navbar-inner {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  float: right;

}

#logo {
  margin-top: 0;
}

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 10;
    width: 100%;
    text-align: right;
    background: #9348A3;
    max-height: 50px;
    position: absolute;


}

.nav_ul > li {
  display:inline-block;
  margin-left: 10px;


}

.container img {
    max-width:70px;
    max-height:70px;
    width: auto;
    height: auto;
}

/*Responsive Web Pages with Media Queries*/

@media all and (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }

  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: left;
  }
}


  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
    margin-right: 1%;
  }

  .column-4:nth-child(2) {
  margin-right: 0;
  }

  .columns-container {
white-space: nowrap;
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

img {
  width: 100%
}
