body {
  background-color: #D5DEF5;

  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #441758;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 30px;

}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 24px;

}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 18px;

}

div {
  padding: 10px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
}

a {
  color: #6642B5;
}

a:visited {
  color: #6642B5; /* visited link */
}

a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  color: #6642B5; /* selected link */
}


.button {
  padding: 10px 18px;
  font-size: 14px;
  color: white;
  background-color: #7971ea;
  text-decoration: none;
  border-radius: 6px;
  font-family: Helvetica, sans-serif;
}


.button:hover,
.button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}

/* Layout styling */



.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

.columns-container {
  font-size: 0;
}

.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  text-align: center;
}

.column-4:last-child {
margin-right: 0;
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

/*Responsive Web Pages with Media Queries*/

@media all and (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: left;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
    margin-right: 1%;
  }
  .column-4:nth-child(2) {
  margin-right: 0;
  }
}
